<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:macro name="panda_gazebo" params="robot_name">

        <!-- Link0 -->
        <gazebo reference="${robot_name}_link0">
            <material>Gazebo/Red</material>
            <mu1>1</mu1>
            <mu2>1</mu2>
        </gazebo>

        <!-- Link1 -->
        <gazebo reference="${robot_name}_link1">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link2 -->
        <gazebo reference="${robot_name}_link2">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link3 -->
        <gazebo reference="${robot_name}_link3">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link4 -->
        <gazebo reference="${robot_name}_link4">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link5 -->
        <gazebo reference="${robot_name}_link5">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link6 -->
        <gazebo reference="${robot_name}_link6">
            <material>Gazebo/White</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link7 -->
        <gazebo reference="${robot_name}_link7">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

        <!-- Link8 -->
        <gazebo reference="${robot_name}_link8">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>

  
  <!-- end for simulation -->
	


<!--CameraLink -->
        <gazebo reference="${robot_name}_camera_link">
    <sensor name="${robot_name}_camera" type="depth">
    <update_rate>20</update_rate>

    <camera>
      <horizontal_fov>1.047198</horizontal_fov>
      <image>
        <width>640</width>
        <height>480</height>
        <format>R8G8B8</format>
      </image>
      <clip>
        <near>0.05</near>
        <far>3</far>
      </clip>
    </camera>

    <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
      <baseline>0.2</baseline>
      <alwaysOn>true</alwaysOn>
      <updateRate>1.0</updateRate>
      <cameraName>${robot_name}_camera</cameraName>
      <imageTopicName>/${robot_name}/camera/color/image_raw</imageTopicName>
      <cameraInfoTopicName>/${robot_name}/camera/depth/camera_info</cameraInfoTopicName>
      <depthImageTopicName>/${robot_name}/camera/depth/image_raw</depthImageTopicName>
      <depthImageInfoTopicName>/${robot_name}/camera/depth/camera_info</depthImageInfoTopicName>
      <pointCloudTopicName>/${robot_name}/camera/depth/points</pointCloudTopicName>
      <frameName>${robot_name}_camera_optical_frame</frameName>
      <pointCloudCutoff>0.1</pointCloudCutoff>
      <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
      <distortionK1>0.00000001</distortionK1>
      <distortionK2>0.00000001</distortionK2>
      <distortionK3>0.00000001</distortionK3>
      <distortionT1>0.00000001</distortionT1>
      <distortionT2>0.00000001</distortionT2>
      <CxPrime>0</CxPrime>
      <Cx>0</Cx>
      <Cy>0</Cy>
      <focalLength>0</focalLength>
      <hackBaseline>0</hackBaseline>
    </plugin>
  </sensor>
        </gazebo>


<gazebo reference="${robot_name}_joint7">
    <provideFeedback>true</provideFeedback>
</gazebo>

<!-- The ft_sensor plugin -->  
<gazebo>
    <plugin name="ft_sensor" filename="libgazebo_ros_ft_sensor.so">
        <updateRate>100.0</updateRate>
        <topicName>ft_sensor_topic</topicName>
	<visualize>True</visualize>
        <jointName>panda_joint7</jointName>
	<limit velocity="6.5" effort="1000" lower="0" upper="0" />
    </plugin>
</gazebo>




        <!-- LinkHand -->
        <gazebo reference="${robot_name}_hand">
            <material>Gazebo/Grey</material>
            <mu1>0.2</mu1>
            <mu2>0.2</mu2>
        </gazebo>



        <!-- LinkRightFinger -->
        <gazebo reference="${robot_name}_rightfinger">
            <material>Gazebo/Grey</material>
            <mu1>10000</mu1>
            <mu2>10000</mu2>
	<kp>1e15</kp>
    	<kd>1e13</kd>
    	<minDepth>0.001</minDepth>  
    	<maxVel>0</maxVel>
        </gazebo>

        <!-- LinkLeftFinger -->
        <gazebo reference="${robot_name}_leftfinger">
            <material>Gazebo/Grey</material>
            <mu1>10000</mu1>
            <mu2>10000</mu2>
	<kp>1e15</kp>
    	<kd>1e13</kd>
    	<minDepth>0.001</minDepth>  
    	<maxVel>0</maxVel>
        </gazebo>

    </xacro:macro>

</robot>

