<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

<xacro:arg name="use_effort_interface" default="false" />
 <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro" />

  <!-- for simulation -->
  <xacro:include filename="$(find franka_description)/robots/panda.gazebo.xacro"/>
  <xacro:include filename="panda.transmission.xacro"/>
  <!-- end for simulation -->


  <xacro:panda_arm />

  <!-- for simulation -->
  <xacro:arg name="robot_name" default="panda"/>
  <xacro:panda_gazebo robot_name="$(arg robot_name)" />

<!-- For EffortJointControllers -->
<xacro:if value="$(arg use_effort_interface)"> 
 <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" joint_interface="EffortJointInterface" />
</xacro:if>

<xacro:unless value="$(arg use_effort_interface)">
  <xacro:panda_transmission robot_name="$(arg robot_name)" load_hand="false" joint_interface="PositionJointInterface" />
</xacro:unless>
  <!-- end for simulation -->

</robot>
